/* Pré réglages */
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;

}
body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

/* Partie CSS */
.jumbotron {
  font-size: 24px;
  font-family: times new roman, sans-serif;
  color:darkblue;
  padding:250px 0;
  margin: 30px;
  background-image: url("110508234530_82.jpg");
  background-size: cover;
}

.nav {
	padding: 20px 0;
	margin: 30px;
	border : 5px solid #FFF;
	color: black;
	font-size: 24px;
	text-decoration: none;
    font-family: times new roman, sans-serif;
    display: inline;
}

/* A Trier */

.Boundariesandspace {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


h1 {
	font-size: 48px;
	color:purple;
	font-family: Helvetica, sans-serif;

}

.contact-btn a {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
  position:relative;


}

.contact-btn a:active {
top: 2px;
